#fd  
{   
    width:500px;  
    height:200px;  
    background:#EDF1F8;   
    border: 2px solid #849BCA;  
    margin-top:2px;  
    margin-left:2px;  
    float:left;  
    overflow-y:auto;  
    overflow-x:hidden;  
    position:absolute;  
    left:15px;  
    top:26px;  
    cursor:move;  
    float:left;  
}  

